@use '../abstracts/variables' as v;

// all keyframes
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse-glow {
    0%,
    100% {
        box-shadow: 0 0 8px v.$blanco;
    }
    50% {
        box-shadow: 0 0 16px v.$morado;
    }
}

@keyframes softPulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.05);
        opacity: 1;
    }
}

@keyframes softAppear {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}