@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

/* logo del header */
header .logo {
    z-index: 3;

    a {
        img {
            width: 180px;
            height: auto;
            filter: drop-shadow(5px 5px 8px rgba(v.$negro, 0.8));
            transition: transform 0.6s ease-in-out;

            @include m.tablet {
                width: 220px;
                display: inline-block;
            }

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }

    @include m.tablet-horizontal {
        align-self: flex-start;
        background: transparent;
        padding: 1px;
        border: 2px solid rgba(v.$blanco, 0.4);
        border-radius: 1rem;
        box-shadow: -0.4rem -0.4rem 1rem rgba(v.$negro, 0.6), inset 0 0 1.2rem rgba(v.$blanco, 0.15);
        backdrop-filter: blur(1.5rem);
        transition: transform 0.6s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}