@use '../abstracts/mixins' as m;

.home-main {
    .about {
        position: relative;
        text-align: center;
        padding: 2rem;
        max-width: 80rem;
        margin: 8rem auto;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10rem;
            background: url("../img/icons/grafico-no-square.svg") no-repeat center center;
            background-size: 27%;
            opacity: 0.3;
            z-index: -1;
        }
    }
}

// Últimos cursos y Blog
.latest-courses,
.blog {
    @include m.responsive-font(1.4rem, 1.6rem, 1.5vw);
    max-width: 95%;
    margin: 2rem auto;

    @include m.tablet {
        @include m.gap(1rem, 2.5rem, 2vw);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @include m.tablet-horizontal {
        max-width: 80%;
    }

    @include m.desktop {
        max-width: 70%;
    }
}