@use '../abstracts/mixins' as m;
@use '../buttons/back-btn';
@use '../components/animations';

//paginas de diseño comun (legales)
.pages {
    width: 85%;
    margin: 0 auto;

    h1 {
        text-align: center;
    }

    h2 {
        text-align: left;
        margin-bottom: 0;
        margin-top: 4rem;
        @include m.responsive-font(1.7rem, 2rem, 1.8vw);

        &::after {
            display: none;
        }
    }

    li {
        line-height: 1.6;
    }

    a {
        color: #a382ff;
        font-size: inherit;
        vertical-align: middle;
        line-height: inherit;
        text-decoration: none;
        position: static;
    }

    @include m.tablet {
        width: 80%;
    }

    @include m.tablet-horizontal {
        width: 70%;
    }
}