@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4.3rem;
    margin: 0;
    background: none;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    perspective: 1200px;

    &-index {
        position: absolute;
    }

    &-pod {
        position: absolute;
        top: 100%;
        background: linear-gradient(135deg, v.$azul-oscuro, rgba(v.$negro, 0.9));
        border: 1px solid transparent;
        border-radius: 10px;
        box-shadow: 0 1px 10px rgba(v.$negro, 0.2);
        z-index: 5;
        margin: 0 auto;
        height: auto;
        overflow: hidden;
        transform-origin: top center;
        transform: scaleY(0);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.4s ease;

        &.active {
            transform: scaleY(1);
            opacity: 1;

            @media (min-width: 1024px) {
                transform: scaleX(1);
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 3rem 5rem;
            gap: 5rem;

            .menu-links,
            .auth-links {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: 3rem;

                a {
                    display: flex;
                    align-items: center;
                    color: white;
                    font-size: 1.6rem;
                    text-decoration: none;
                    text-shadow: 1px 1px 10px rgba(v.$blanco, 0.6);
                    transition: color 0.3s ease, transform 0.4s ease-in-out;

                    .menu-icon,
                    .auth-icon {
                        display: none;
                        width: 4rem;
                        height: 4rem;
                    }

                    .menu-text,
                    .auth-text {
                        transition: opacity 0.3s ease, transform 0.3s ease;
                    }

                    &:hover {
                        font-weight: 700;
                        transform: translateY(-12px) scale(1.1);
                        filter: drop-shadow(0 0 5px rgba(v.$blanco, 0.8)) drop-shadow(0 0 20px rgba(v.$blanco, 0.6)) drop-shadow(0 0 30px rgba(v.$blanco, 0.4));
                    }

                    &:active {
                        transform: scale(0.9);
                    }
                }
            }

            @include m.tablet-horizontal {
                flex-direction: row;
                padding: 2.5rem 3rem;
                width: auto;
                gap: 10rem;

                .menu-links,
                .auth-links {
                    flex-direction: row;
                    gap: 5rem;

                    a {
                        text-shadow: 2px 2px 8px rgba(v.$blanco, 0.6);
                        border: 2px solid transparent;
                        border-radius: 2px;
                        transition: all 0.3s ease-in-out;

                        .menu-icon,
                        .auth-icon {
                            display: block;
                            width: 3rem;
                            height: 3rem;
                            transition: transform 0.3s ease;
                        }

                        .menu-text,
                        .auth-text {
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%, -10px);
                            white-space: nowrap;
                            opacity: 0;
                            pointer-events: none;
                        }

                        &:hover {

                            .menu-text,
                            .auth-text {
                                opacity: 1;
                                transform: translate(-50%, 5px);
                                pointer-events: auto;
                            }

                            .menu-icon,
                            .auth-icon {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

        @include m.tablet-horizontal {
            background: transparent;
            border: 2px solid rgba(v.$blanco, 0.3);
            top: 4rem;
            right: 11rem;
            transform-origin: right center;
            transform: scaleX(0);
            opacity: 0;
        }
    }
}